.pricing{
  align-items: center;
  margin-bottom: -30px;

  .pricing__card{
    background: white;
    box-shadow: 0 10px 30px 0 rgba(57, 99, 112, 0.15);
    padding: 40px 40px 120px 40px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;

    &.pricing__card--recommend{
      padding-bottom: 140px;

      .pricing__card-btn{
        background: $pricing-accent;
        color: white;

        &:hover{
          color: white;
          background-color: darken($pricing-accent, 10%);;
        }
      }
    }
  }

  .pricing__card-title{
    color: $color-accent;
    font-size: 18px;
    line-height: 1.67;
    font-weight: 500;
  }

  .pricing__card-price{
    color: #555555;
    font-size: 36px;
    line-height: 1.22;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 38px;

    p{
      position: relative;
    }

    span{
      font-size: 18px;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateX(-100%);
      line-height: 1.56;
      width: 20px;
    }
  }

  .pricing__card-feature{
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.43;
  }

  .pricing__card-btn{
    display: block;
    width: 100%;
    position: absolute;
    color: $pricing-accent;
    left: 0;
    bottom: 0;
    padding: 30px 0;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
      color: darken($pricing-accent, 10%);
    }
  }
}